#search {
  margin-bottom: 2rem;
  position: relative;
}

#search-icon {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

#search-input {
  text-indent: 20px;
}
