#app {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 50%;
}

#app-title {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  #app {
    padding: 1rem 25%;
  }
}
