:root {
  --dominant-color: #000;
  --secondary-color: #fafafa;
  --accent-color: #276ef1;
  --danger-color: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: var(--secondary-color);
}

body {
  background: var(--dominant-color);
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 900;
}

h1,
h2,
h3,
p {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    /* use calc() because if you use only a viewport unit to size your type, the font size won't change if you zoom */
      var(--fluid-type-max, 1.3rem)
  );
}

h1 {
  --fluid-type-min: 2rem;
  --fluid-type-target: 5vw;
  --fluid-type-max: 4rem;
  max-width: 15ch;
}

h2 {
  --fluid-type-min: 1.8rem;
  --fluid-type-max: 3rem;
}

h3 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2.5rem;
}

h2,
h3 {
  max-width: 30ch;
}

p {
  max-width: 60ch;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
}

label {
  font-size: 1.5rem;
}

button {
  max-width: max-content;
}

.popup {
  background: var(--dominant-color);
  width: 100%;
  min-height: 100vh;
  padding: 1rem 1.5rem;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  animation: popup 0.2s;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 1024px) {
  .popup {
    padding: 1rem 25%;
  }
}
